body {
    font-family: Arial;
    font-size: 16px;
    margin: 0px;
}

h1 {
    width:100%;
    text-align: center;
}

.center-text {
    text-align: center;
}

.slider-container {
    width: 100%;
    padding:10px;
}

.slider {
    width: 100%;
    margin: auto;
}

.hex-box {
    display:block;
    width:50%;
    margin:auto;
    font-size: 20px;
}

.hex-box-label {
    display: block;
    width: 50%;
    margin: auto;
    margin-bottom:5px;
}

.colour-picker {
    width: 500px;
    margin: auto;
    padding: 50px;
    padding-top:10px;
    box-sizing:border-box;
}

#colour-box {
    width: 80%;
    aspect-ratio: 1/1;
    background-color: #ff0000;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 30px;
}

@media only screen and (max-width: 600px) {
    body {
        width:100%;
    }
    .colour-picker {
        width: 100%;
    }
}